     *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body{
            background-color: rgb(247, 247, 246);
        }

        .Main{
            max-width: 1200px;
            margin: 40px auto;
            padding: 20px;
            background-color: #e9ebed;
            border-radius: 8px;
        }

        .heading{
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: bold;
        }

        .container{
            display: grid;
            grid-template-columns: 1fr;   
            gap: 5px;   
        }

        .box{
            background-color: rgb(254, 254, 254);
            border-radius: 8px;
            padding: 16px;
            box-shadow: 0 2px 6px rgba(27, 27, 27, 0.08);
        }
        .box h2{
            margin-bottom: 8px;
            font-size: 1.1rem;
            color: #222;
            text-align: center;
        }
        img{
            padding-left: 35%;
            padding-bottom: 15px;
        }
        .box p{
            margin-bottom: 6px;
            font-size: 0.9rem;
            color: rgb(103, 101, 101);
        }

        .price{
            font-weight: bold;
        }

        @media screen and (min-width: 600px) {
            .container{
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media screen and (min-width: 1024px) {
            .container{
                grid-template-columns: repeat(4, 1fr);
            }
        }